* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.LandingPage,
.GameOver {
  display: flex;
  flex-direction: column;
  background: black;
  height: 100vh;
  color: white;
  justify-content: center;
  align-items: center;
}

.GameOver-Heading {
  opacity: 0;
  font-size: 5rem;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.LandingPage button,
.GameOver button {
  margin: 1rem;
  padding: 1rem 2rem;
  background: black;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  width: 300px;
  height: 60px;
}

.LandingPage button:hover,
.GameOver button:hover {
  background: white;
  color: black;
  border-radius: 20px;
  font-size: 1.25rem;
  transition: 0.5s;
}

.Results {
  font-size: 2rem;
  color: white;
}

.MissingPokemon {
  border: 1px solid white;
  padding: 1rem;
  max-height: 300px;
  overflow-y: scroll;
  list-style: none;
  text-align: left;
}

h1.LandingPage-Heading {
  font-size: 5rem;
}

.Score {
  font-size: 2rem;
}

input {
  height: 30px;
  width: 300px;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  padding: 1.5rem;
  border-radius: 20px;
  outline: none;
}

.NameInput::-webkit-input-placeholder {
  font-size: 1rem;
}

.NameInput::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 1rem;
}
.NameInput:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 1rem;
}
.NameInput:-moz-placeholder {
  /* Firefox 18- */
  font-size: 1rem;
}

.Header {
  background: black;
  color: white;
  padding: 0 1rem;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-height: 125px;
  overflow: hidden;
  align-items: center;
  z-index: 1;
}

.Logo {
  background-image: url("./Images/logo.png");
  background-size: 175px;
  background-repeat: no-repeat;
  min-height: 175px;
  width: 175px;
  margin-top: -1rem;
}

.Player {
  margin: 1rem;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-around;
}

.Timer {
  font-size: 3rem;
}

.Timer__Controls {
  display: flex;
}

.Timer__Controls button {
  margin: 0.25rem;
  padding: 0.25rem 1rem;
  background: black;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  width: 140px;
}

.Btn-Active {
  margin: 0.25rem;
  padding: 1rem;
  background: black;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  width: 140px;
}

.Btn-Active:hover {
  background: white;
  color: black;
  border-radius: 20px;
  transition: 0.5s;
}

button.react-share__ShareButton {
  margin: 0.25rem !important;
  padding: 1rem !important;
  background: black !important;
  color: white !important;
  font-weight: bold !important;
  border-radius: 5px;
  border: 1px solid white !important;
}

button.react-share__ShareButton:hover {
  background: white !important;
  color: black !important;
  border-radius: 20px;
  transition: 0.5s;
}

.Btn-Disabled {
  opacity: 0.5;
}

.Timer__Controls button.Btn-Active:hover {
  background: white;
  color: black;
  border-radius: 20px;
  transition: 0.5s;
}

.Score--Mobile {
  display: none;
}

.Container {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

.Pokedex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 2800px;
  margin-top: 10rem;
  margin-left: 1rem;
}

.Region {
  background: black;
  color: white;
  font-weight: bold;
  border: 1px solid black;
  width: 10%;
  margin-bottom: 0.25rem;
  padding: 0.1rem;
  border-radius: 5px;
  height: 25px;
}

.Pokemon {
  border: 1px solid black;
  width: 10%;
  display: flex;
  margin-right: 1rem;
  margin-bottom: 0.25rem;
  height: 25px;
  border-radius: 5px;
  opacity: 0.25;
}

.Pokemon--Display {
  border: 1px solid green;
  width: 10%;
  display: flex;
  margin-right: 1rem;
  margin-bottom: 0.25rem;
  height: 25px;
  border-radius: 5px;
  transform: rotateY(360deg);
  opacity: 1;
  transition: 1s;
}

.Pokemon--Missed {
  border: 1px solid red;
  width: 10%;
  display: flex;
  margin-right: 1rem;
  margin-bottom: 0.25rem;
  height: 25px;
  border-radius: 5px;
  opacity: 0.5;
  transition: 1s;
}

.Pokemon__ID {
  background: black;
  color: white;
  padding: 0.25rem;
  width: 25%;
  font-size: 0.5rem;
}

.Pokemon__ID--Display {
  background: green;
  color: white;
  padding: 0.25rem;
  width: 25%;
  font-size: 0.5rem;
}

.Pokemon__ID--Missed {
  background: red;
  color: white;
  padding: 0.25rem;
  width: 25%;
  font-size: 0.5rem;
}

.Pokemon__Name {
  width: 100%;
  font-size: 75%;
  padding: 0.25rem;
}

.Leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  padding: 1rem;
  width: 400px;
  height: 320px;
  line-height: 1.5rem;
  font-size: 0.9rem;
  color: black;
  border-radius: 2px;
  padding: 8px;
  background: white;
  box-shadow: 0 1px 0 1px black, inset 0 1px 0 1px black, 0 0 0 1px black,
    inset 0 0 0 1px black;
}

.Ranking {
  display: flex;
  width: 100%;
}

.Ranking-Place {
  width: 33%;
}

.Ranking-Name {
  width: 33%;
}

.Ranking-Score {
  width: 33%;
}

.Instructions {
  position: relative;
  display: flex;
  border: 1px solid white;
  padding: 1rem;
  width: 400px;
  height: 320px;
  line-height: 1.5rem;
  font-size: 0.9rem;
  color: black;
  border-radius: 2px;
  padding: 8px;
  background: white;
  box-shadow: 0 1px 0 1px black, inset 0 1px 0 1px black, 0 0 0 1px black,
    inset 0 0 0 1px black;
}

.LandingPage label {
  margin: 2rem 0 0.5rem;
}

.Instructions > i {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: black;
  margin-top: 23px;
  animation: bounce 0.5s ease-in-out infinite alternate;
  float: right;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

@keyframes bounce {
  from {
    bottom: 10px;
  }
  to {
    bottom: 15px;
  }
}

.Instructions a {
  color: black;
}

.PokemonLogo {
  width: 90%;
}

.Signature {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.Signature a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.Spin {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.modal-outer {
  display: grid;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  /* Hide this modal until we need it */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}

.Fire-Background {
  background: hsla(9, 98%, 48%, 0.7);
}

.Water-Background {
  background: hsla(197, 98%, 48%, 0.7);
}

.Grass-Background {
  background: hsla(143, 98%, 48%, 0.7);
}

.Normal-Background {
  background: hsla(221, 44%, 92%, 0.7);
}

.Ghost-Background {
  background: hsla(273, 49%, 37%, 0.7);
}

.Ground-Background {
  background: hsla(32, 75%, 50%, 0.7);
}

.Flying-Background {
  background: hsla(194, 59%, 65%, 0.7);
}

.Poison-Background {
  background: hsla(283, 98%, 48%, 0.7);
}

.Steel-Background {
  background: hsla(150, 2%, 49%, 0.7);
}

.Dragon-Background {
  background: hsla(251, 90%, 55%, 0.7);
}

.Rock-Background {
  background: hsla(29, 75%, 31%, 0.7);
}

.Fairy-Background {
  background: hsla(293, 73%, 68%, 0.7);
}

.Bug-Background {
  background: hsla(143, 77%, 35%, 0.7);
}

.Ice-Background {
  background: hsla(187, 79%, 78%, 0.7);
}

.Electric-Background {
  background: hsla(59, 58%, 59%, 0.7);
}

.Fighting-Background {
  background: hsla(17, 86%, 57%, 0.7);
}

.Dark-Background {
  background: hsla(198, 59%, 7%, 0.7);
}

.Psychic-Background {
  background: hsla(308, 96%, 46%, 0.7);
}

.modal-outer.open {
  z-index: 2;
  opacity: 1;
  pointer-events: all;
}

.modal-inner {
  max-width: 600px;
  min-width: 400px;
  padding: 2rem;
  border-radius: 5px;
  min-height: 200px;
  background: white;
  transform: translateX(-200%);
  transition: transform 0.5s;
  border: 10px solid white;
  box-shadow: 0 2px 0 3px black, inset 0 5px 0 1px black, 0 0 0 5px black,
    inset 0 0 0 3px black;
}

.modal-outer.open .modal-inner {
  transform: translateX(0);
}

@media only screen and (max-width: 1350px) {
  .Pokedex {
    margin-top: 9rem;
    flex-direction: row;
  }

  .Pokemon,
  .Pokemon--Missed,
  .Pokemon--Display {
    width: 23.5%;
    margin-right: 0.5rem;
    margin-bottom: 0.25rem;
  }

  .Region {
    width: 96.5%;
  }
}

@media only screen and (max-width: 1047px) {
  .Logo {
    display: none;
  }

  .Region {
    width: 97%;
  }

  h1.LandingPage-Heading {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .Pokemon,
  .Pokemon--Missed,
  .Pokemon--Display {
    width: 30.33%;
    margin-right: 0.5rem;
    margin-bottom: 0.25rem;
  }

  .Pokedex {
    flex-direction: row;
    margin-top: 7rem;
  }

  .NameInput {
    width: 80%;
    height: 15px;
    font-size: 1rem;
    padding: 1rem;
    margin-top: 0.5rem;
  }

  .Region {
    width: 98%;
  }

  .Header {
    justify-content: center;
    height: 100px;
    flex-direction: column;
  }

  .Timer {
    font-size: 2rem;
    display: flex;
  }

  .Timer__Controls button {
    display: none;
  }

  .Score {
    display: none;
  }

  .Score--Mobile {
    display: flex;
    font-size: 2rem;
  }

  .Player {
    width: 100%;
    margin: 0rem;
  }
}
